/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
}

a {
  color: white;
}

.headerFlex {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background-color: rgba(1, 50, 67, 1)
}

.headerLogo {
  display: flex;
  align-items: center;
  margin-right: 5%;
  height: 10vh;
}

.navFlex {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-around;
}

.redBull {
  height: 8vh;
  border-radius: 50%;
}

.hero {
  height: 90vh;
  background-image: url("https://images.pexels.com/photos/1046334/pexels-photo-1046334.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.extremeBtn {
  background-color: rgba(244, 208, 63, 1);
  /* z-index: 1; */
  width: 25%;
  height: 100%;
  border-radius: 7%;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  /* position: absolute; */
}

.buttonContainer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.extremeText {
  /* position: absolute; */
  /* z-index: 1; */
  color: rgba(244, 208, 63, 1);
  font-size: 3em;
  text-shadow: 4px 4px 5px rgba(253, 245, 245, 0.69);
  padding: 0 0 2.5% 2.5%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.ctaContainer {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
  background-color: rgba(253, 245, 245, 0.4);
  border-radius: 25px;
}

@media(max-width: 500px) {
  .headerFlex {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
  }
  .navFlex {
    height: 35vh;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
  }
  .navFlex a:first-child {
    margin-top: 5%;
  }
  .navFlex a {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 75%;
  }
  .redBull {
    margin-top: 10%;
  }
  .hero {
    align-items: flex-start;
    text-align: center;
  }
}